body{
    margin:0;
    direction: rtl;
}

#allGames{
    display:none;
}

#container {
    width: 100%;
    top: 0;
    right: 0;
    background-color: #F9EFDD !important;
    height: 100vh;
}
h1,h2,h3,h4,h5,h6,div,span,p{
    font-family: 'Heebo', sans-serif !important;
}

h1{
        font-size: 70%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}
header img{
height: 40px;
    margin-right: -20px;
    padding-left: 5px;
}

h2{
    font-size: 6vw;
    text-align: center;
    color: #685E60;
    padding: 30px 0 15px 0;
    font-weight: 800;
    margin-top: 0px;
}

canvas{
    margin: 0 auto;
}

ul.gamesBtn li a{
    /*    display: block;*/
    /*    width: 95%;*/
    /*    background-size: 100% auto;*/
    /*    height: 183px;*/
    /*    background-repeat: no-repeat;*/
    /*    margin: 0 auto;*/
}

ul.gamesBtn li a img{
    display: block;
    width: 95%;
    margin: 12px auto;
}

ul.gamesBtn{
    list-style: none;
}

header{
    background-color: rgba(104, 94, 96, 0.43);
    height: 6%;
    color: white;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
}

#randomGame{
    height:94%;
    text-align: center;
    position:relative;
}

#toAllGames{
position: absolute;
    /* top: 90%; */
    /* right: 50%; */
    /* transform: translate(50%); */
    bottom: 0;
    height: 50px;
    width: 100%;
    border-top: 2px dashed black;
    padding-top: 30px;
    /* padding-right: 30px; */
    font-size: 7vw;
    text-align: center;
    color: #685e60;
}

#toAllGamesImg{
    display: inline-block;
    /* position: absolute; */
    width: 50px;
    bottom: 50px;
    margin: -16px 16px;
}

h3{
    font-size: 8vw;
    font-weight: 400;
    color: #685e60;
    padding-top: 30px;
}